<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>



<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
      body {
          margin: 0;
          padding: 0;
          font-family: sans-serif;
          background: linear-gradient(to right, #b92b27, #1565c0)
      }

      .card {
          margin-bottom: 20px;
          border: none
      }

      .box {
          width: 500px;
          padding: 40px;
          position: absolute;
          left: 50%;
          background-color: #191919 !important;

      ;
          text-align: center;
          transition: 0.25s;
          margin-top: 100px
      }

      .box input[type="email"],
      .box input[type="password"] {
          border: 0;
          background: none;
          display: block;
          margin: 20px auto;
          text-align: center;
          border: 2px solid #3498db;
          padding: 10px 10px;
          width: 250px;
          outline: none;
          color: white;
          border-radius: 24px;
          transition: 0.25s
      }

      .box h1 {
          color: white;
          text-transform: uppercase;
          font-weight: 500
      }

      .box input[type="email"]:focus,
      .box input[type="password"]:focus {
          width: 300px;
          border-color: #2ecc71
      }

      .box input[type="submit"] {
          border: 0;
          background: none;
          display: block;
          margin: 20px auto;
          text-align: center;
          border: 2px solid #2ecc71;
          padding: 14px 40px;
          outline: none;
          color: white;
          border-radius: 24px;
          transition: 0.25s;
          cursor: pointer
      }

      .box input[type="submit"]:hover {
          background: #2ecc71
      }

      .forgot {
          text-decoration: underline
      }

      ul.social-network {
          list-style: none;
          display: inline;
          margin-left: 0 !important;
          padding: 0
      }

      ul.social-network li {
          display: inline;
          margin: 0 5px
      }

      .social-network a.icoFacebook:hover {
          background-color: #3B5998
      }

      .social-network a.icoTwitter:hover {
          background-color: #33ccff
      }

      .social-network a.icoGoogle:hover {
          background-color: #BD3518
      }

      .social-network a.icoFacebook:hover i,
      .social-network a.icoTwitter:hover i,
      .social-network a.icoGoogle:hover i {
          color: #fff
      }

      a.socialIcon:hover,
      .socialHoverClass {
          color: #44BCDD
      }

      .social-circle li a {
          display: inline-block;
          position: relative;
          margin: 0 auto 0 auto;
          border-radius: 50%;
          text-align: center;
          width: 50px;
          height: 50px;
          font-size: 20px
      }

      .social-circle li i {
          margin: 0;
          line-height: 50px;
          text-align: center
      }

      .social-circle li a:hover i,
      .triggeredHover {
          transform: rotate(360deg);
          transition: all 0.2s
      }

      .social-circle i {
          color: #fff;
          transition: all 0.8s;
          transition: all 0.8s
      }
  </style>






</head>
<body>

<div style="margin-top: -50px" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'box') do |f| %>

          <%= render "devise/shared/error_messages", resource: resource %>
          <!--        <form onsubmit="event.preventDefault()" class="box">-->
          <h1>Login</h1>

          <p class="text-muted"> Please enter your login and password!</p>

          <%= f.email_field :email, placeholder:"Enter email"%>
          <!--          <input type="text" name="" placeholder="Email">-->
          <%= f.password_field :password,  placeholder:"Enter password"%>
          <!--          <input type="password" name="" placeholder="Password">-->
          <%#= f.submit "Log in" , class: "btn btn-success"%>
          <!--      </div>-->
          <%# end %>

          <%#= render "devise/shared/links" %>
          <!--  </div>-->
          <!--</div>-->

<%#= render "devise/shared/links" %>


          <%= f.submit "Log in",value:"Login"%>
          <!--       <input type="submit" name="" value="Login" href="#">-->
        <% end %>

        <%= render "devise/shared/links" %>



        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
